@model PostViewModel
@using Microsoft.AspNetCore.Html

<div class="row post">
    <div class="col-sm-3 user-info">
        <img class="profile-photo img-responsive" src="@Model.UserPhotoPath" />
        <a asp-controller="Profile" asp-action="ProfileInfo" asp-route-Id="@Model.AuthorId">
            <div id="user-name">@Model.AuthorFullName</div>
        </a>
        <br />
        <div id="num-of-posts" class="text-primary">Number of Posts:@Model.AuthorNumberOfPosts</div>
        <div id="email" class="text-primary">Email:@Model.AuthorEmail</div>
    </div>
    <div class="col-sm-9 message-container">
        <p class="text-center">
            Written on <span id="date">@Model.CreationDate.ToString("dd/MM/yyyy HH:mm:ss")</span>
        </p>
        <p id="text">
            @(new HtmlString(Model.Message))
        </p>
    </div>
</div>

